{% extends 'base.html' %}

{% block title %}Удалить объявление{% endblock %}

{% block styles %}<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form enctype="multipart/form-data" class="mt-5 text-center" method="POST"> 
                    {% csrf_token %}
                    <h3>Вы действительно хотите удалить oбъявление "{{ object }}"?</h3>
                    <input class="btn btn-success my-3" type="submit" value="Удалить">
                    <a class="btn btn-danger my-3" href="{%url 'ads_app:advert-detail' advert.id %}">Отмена</a>
                </form>
            </div>
        </div>  
    </div>
{% endblock %}
